<div class="hero">


        <h1 align="center">snail.</h1>
        <h6 align="center"></h6>

        <% if flash[:login_error] %>
        <p>
            <%= flash[:login_error] %>
        </p>
        <% end %>

<div class="container">


        <%= form_tag "/login" do %>

        <div class="container">

            <div class="col s3">
                <div class="card-panel white z-depth-5">
                    <p>
                        <%= label_tag :username %>
                        <%= text_field_tag :username %>
                    </p>

                    <p>
                        <%= label_tag :password %>
                        <%= password_field_tag :password %>
                    </p>

                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Login</button>
                    <% end %>

                    <a class="login waves-effect waves-light btn #ef9a9a red lighten-3 right" href="/users/new">Sign Up</a>

                </div>
            </div>
        </div>
    </div>

</div>
