<% unless @user.errors.full_messages.empty? %>

  <% @user.errors.full_messages.each do |msg| %>
    <p>
      <%= msg %>
    </p>
  <% end %>

<% end %>

<div class="container">


<%= form_for(@user, :html => { :multipart => true }) do |f| %>
<div class="row">
  <form class="col s12">

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :username %>
        <%= f.text_field :username, required: true %>
      </div>


    <div class="row">
      <div class="input-field col s6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, required: true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true %>
      </div>


    <div class="row">
      <div class="input-field col s6">
        <%= f.label :email %>
        <%= f.text_field :email, required: true %>
      </div>


    <div class="row">
      <div class="input-field col s6">
        <%= f.label :password %>
        <%= f.password_field :password, required: true %>
      </div>

      <div class="input-field col s6">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, required: true %>
      </div>



    <div class="row">
      <div class="input-field col s12">

        <%= f.file_field :link %>
      </div>
    </div>
</div>
</div>

<button class="btn waves-effect waves-light red" type="submit" name="action">Submit</button>
  <% end %>
</div>
