
  <div class="container">

    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="card-panel white z-depth-5">

        <h4>Hi
          <%= @user.first_name %>!
        </h4>

        <a href="/orders/new" class="waves-effect waves-light btn right red">NEW ORDER</a>
        <div class="col s4">
          <% if @user.link %>
          <td><%= image_tag @user.link, id:"profile" %></td>
        </div>

        <p class="usershow">
          <strong>Username:</strong>
          <%= @user.username %>
        </p>

        <p class="usershow">
          <strong>First name:</strong>
          <%= @user.first_name %>
        </p class="usershow">

        <p class="usershow">
          <strong>Last name:</strong>
          <%= @user.last_name %>
        </p>

        <p class="usershow">
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        <%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
      </div>
      <div class="card-panel white z-depth-5">
        <h4>My Outbound Orders</h4>
        <table class="highlight">
          <thead>
            <tr>
              <th>Item</th>
              <th>Sent to username</th>
              <th>Sent to address</th>
            </tr>
          </thead>
          <tbody>
            <% @send_orders.each do |order| %>
            <tr>
              <td>
                <a>
                  <%= link_to(order.item_description, "/orders/#{order.id}")%>
                </a>
              </td>
              <td>
                <a>
                  <%= User.find_by(id: order.receiver_id).username %>
                </a>
              </td>
              <td>
                <a>
                  <%= order.receiver_location.full_street_address %>
                </a>
              </td>
              <% end %>

            </tr>
          </tbody>
        </table>
        <hr>
        <h5>My Inbound Orders:</h5>
        <table class="highlight">
          <thead>
            <tr>
              <th>Item</th>
              <th>Sent from username</th>
              <th>Sent from address</th>
            </tr>
          </thead>

          <tbody>
            <% @receive_orders.each do |order| %>
            <tr>
              <td>
                <a>
                  <%= link_to(order.item_description, "/orders/#{order.id}")%>
                </td>

                <td>
                  <%= User.find_by(id: order.sender_id).username %>
                </td>

                <td>
                  <%= order.sender_location.full_street_address %>
                  <% if order.state == "created" %>
                  <%= link_to("Decline", "/orders/#{order.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "waves-effect waves-light btn red right") %>

                  <%= link_to("Accept", "/orders/#{order.id}/accept_pending_order", method: :get, data: {confirm: "Are you sure you want to accept this order?"}, class: "waves-effect waves-light btn light-blue lighten-2 right") %>
                  <% end %>
                </td>
              </a>
            </td>

          </tr>
          <% end %>
        </div>
      </div>
    </div>
