<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

     <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :item_description %>
    <%= f.text_field :item_description %>
  </div>

 <div class="field">
    <%= f.label :item_weight %>
    <%= f.number_field :item_weight %>
  </div>

 <div class="field">
    <%= f.label :item_height %>
    <%= f.number_field :item_height %>
  </div>

 <div class="field">
    <%= f.label :item_width %>
    <%= f.number_field :item_width %>
  </div>

 <div class="field">
    <%= f.label :item_depth %>
    <%= f.number_field :item_depth %>
  </div>

 <div class="field">
    <%= f.label :receiver_id %>
    <%= f.collection_select :receiver_id, User.order(:username),:id, :username, include_blank: true %>
  </div>


   <div class="field">
      <%= f.label :senderLocation %>
      <%= text_field_tag :sender_location %>
    </div>

    <div class="field">
       <%= f.label :receiverLocation %>
       <%= text_field_tag :receiver_location %>
     </div>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
