<div id="map"></div>
    <script>
    var map;
    var receiverMarker;
      var order = <%= @order.to_json.html_safe %>;
      function initMap() {
        var receiver = {lat: <%= @order.receiver_location.latitude %>, lng: <%= @order.receiver_location.longitude %>};
        var sender = {lat: <%= @order.sender_location.latitude %>, lng: <%= @order.sender_location.longitude %>};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: sender
        });

        var receiverMarker = new google.maps.Marker({
          position: receiver,
          map: map,
          icon: 'https://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });
        var senderMarker = new google.maps.Marker({
          position: sender,
          map: map,
          icon:
          'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu_ETj5PiWbIw024SM2ZrJK1va1PtKsn0&callback=initMap">
    </script>
