<p id="notice"><%= notice %></p>

<p>
  <strong>Item description:</strong>
  <%= @order.item_description %>
</p>

<p>
  <strong>Item weight:</strong>
  <%= @order.item_weight %>
</p>

<p>
  <strong>Item height:</strong>
  <%= @order.item_height %>
</p>

<p>
  <strong>Item depth:</strong>
  <%= @order.item_depth %>
</p>

<p>
  <strong>Sender:</strong>
    <%= @order.sender.username %>

</p>

<p>
  <strong>Receiver:</strong>
  <% if @order.receiver_id  %>
    <%= @order.receiver.username %>
  <% end  %>
</p>

<p>
  <strong>Courier:</strong>
  <% if @order.courier_id  %>
    <%= @order.courier.username %>
  <% end  %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<% if (@current_user.id == @order.courier_id && @order.state == 2) %>
<hr>
  <p>Courier: <%= link_to("Picked Up!", "/orders/#{@order.id}/delivery_on_journey",  class: "waves-effect waves-light btn light-blue lighten-2 right") %>



</li></p>
<hr>
<% end %>

<% if (@order.state == "on_journey") %>
  <%= render 'journey', order: @order %>
<% end %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
