<body>
    <div class="container">
        <div class="row">
            <div class="card-panel white z-depth-5">

                <p id="notice"><%= notice %></p>
                <table>
                    <thead>
                        <tr>
                            <th>Item Description</th>
                            <th>Courier</th>
                            <th>Pickup Location</th>
                            <th>Delivery Location</th>
                            <th>Receiver</th>
                            <th>Status</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= @order.item_description %>
                            </td>
                            <td>
                                <% if @order.courier_id  %>
                                <%= @order.courier.username %>
                                <% end  %>
                            </td>
                            <td>
                            <%= @order.sender_location.full_street_address %>
                            </td>
                            <td>
                            <%= @order.receiver_location.full_street_address %>
                            </td>
                            <td>
                                <% if @order.receiver_id  %>
                                <%= @order.receiver.username %>
                                <% end  %>
                            </td>
                                <td>
                                        <%= @order.state %>
                                    </td>
                                        </tr>
                                    </tbody>

                                    <% if (@current_user.id == @order.courier_id && @order.state == "courier_accepted") %>
                                    <hr>
                                    <p><%= link_to("Picked Up!", "/orders/#{@order.id}/delivery_on_journey",  class: "waves-effect waves-light btn light-blue lighten-2 right") %>
                                    </li>
                                </p>
                                <hr>
                                <% end %>

                            </div>


                                <% if (@order.state == "on_journey") %>
                                <%= render 'journey', order: @order %>
                                <% end %>
                            </div>
                            <% if (@current_user.id == @order.courier_id && @order.state == "on_journey") %>

                            <p><%= link_to("Order Delivered!", "/orders/#{@order.id}/order_delivered",  class: "waves-effect waves-light btn light-blue lighten-2 right") %>
                            </li>
                        </p>

                        <% end %>

                        <% if (@current_user.id == @order.receiver_id && @order.state == "delivered") %>


                            <p><%= link_to("Confirm Order Received!", "/orders/#{@order.id}/order_received",  class: "waves-effect waves-light btn light-blue lighten-2 right") %>
                        </li>
                    </p>

                    <% end %>

                    <%= link_to 'Edit', edit_order_path(@order) %>
                    |
                    <%= link_to 'Back', orders_path %>


            </div>

        </body>
