<!DOCTYPE html>
<html>
  <head>
    <title>CourierApp</title>
    <%= csrf_meta_tags %>
    <script>
      var App = App || {};
      App.currentUser = <%= @current_user.to_json.html_safe %>;
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav>
      <div class="nav-wrapper orange darken-4">
        <a href="/" class="brand-logo">Courier App</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if @current_user %>
          <li><%= link_to "My Profile", user_path(@current_user) %></li>
          <li><a href="/orders/pending_orders">My Pending Orders</a></li>
          <li><a href="/orders/potential_deliveries">Potential Deliveries</a></li>
          <li><a href="/logout">Logout</a></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up!</a></li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if @current_user %>
          <li><%= link_to "My Profile", user_path(@current_user) %></li>
          <li><a href="/orders/pending_orders">My Pending Orders</a></li>
          <li><a href="/orders/potential_deliveries">Potential Deliveries</a></li>
          <li><a href="/logout">Logout</a></li>
          <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up!</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

      <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
